<div class="col-lg-12 main-chart">
  <div class="row mtbox">
    <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
      <div class="box1">
        <i class="fa fa-user"></i>
        <h3>{{caseStats.total}}</h3>
      </div>
      <p>Number of Cases</p>
    </div>
    <div class="col-md-2 col-sm-2 box0">
      <div class="box1">
        <i class="fa fa-database"></i>
        <h3>{{recentQueryCount}}</h3>
      </div>
      <p>Queries (last 7 days)</p>
    </div>
    <div class="col-md-2 col-sm-2 box0">
      <div class="box1">
        <i class="fa fa-eyedropper"></i>
        <h3>{{variantFiles}}</h3>
      </div>
      <p>Number of Variant Sets</p>
    </div>
    <div class="col-md-2 col-sm-2 box0">
      <div class="box1">
        <i class="fa fa-user"></i>
        <h3>1</h3>
      </div>
      <p>Logins (last 7 days)</p>
    </div>
    <div class="col-md-2 col-sm-2 box0">
      <div class="box1">
        <i class="fa fa-history"></i>
        <h3>OK!</h3>
      </div>
      <p>Data Storage Health</p>
    </div>
  </div>
  <div>
    <div class="row mtbox">
        <div class="col-md-3 col-sm-3 col-md-offset-1 box0">
        <table class="table">
          <thead>
            <tr>
            <td colspan="2"><strong>Ethnicity</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr><td>North European</td><td>3</td></tr>
            <tr><td>South European</td><td>4</td></tr>
            <tr><td>East Asian</td><td>2</td></tr>
          </tbody>
        </table>
        </div>
        <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
        <table class="table">
          <thead>
            <tr>
            <td colspan="2"><strong>Gender</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr><td>Male</td><td>4</td></tr>
            <tr><td>Female</td><td>5</td></tr>
          </tbody>
        </table>
        </div>
        <div class="col-md-3 col-sm-3 col-md-offset-1 box0">
        <table class="table">
          <thead>
            <tr>
            <td colspan="2"><strong>History</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr><td>History of Cancer</td><td>4</td></tr>
            <tr><td>Family History</td><td>5</td></tr>
            <tr><td>Personal History</td><td>5</td></tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
  <div>
    <div class="row mtbox">
        <div class="col-md-12 col-sm-12 col-md-offset-1 box0">
        <table class="table">
          <thead>
            <tr>
            <td><strong>Query History (Last 7 days)</strong></td>
            <td>User</td>
            <td><strong>results</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of queryLogs"><td><strong><a href="#">General SNP and Case Query</a></strong> - {{item.datetime}}<br/>Chrom:{{item.parameters.chrom}}, Position: {{item.parameters.position}}, Allele: {{item.parameters.allele}}</td><td>{{item.user}}</td><td>{{item.count}}</td></tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>