<div class="form-group">
  <label>
          <input type="checkbox" [(ngModel)]="model.historyOfCancer">
          Patient has a history of cancer?</label>
</div>
<div *ngIf="model.historyOfCancer" class="task-content">
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Age At Diagnosis</th>
        <th>Pathology Type</th>
        <th>Pathology Result</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of model.personalHistory; let i = index">
      <tr>
        <td>{{item.cancerType}}</td>
        <td>{{item.ageAtDiagnosis}}</td>
        <td>{{item.pathologyType}}</td>
        <td>{{item.pathologyResult}}</td>
        <td>
          <button class="btn btn-danger fa fa-trash-o" (click)="deletePersonalHistoryItem(i)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#addPersonalHistoryModal" >Add Personal History Item</a>
  </div>
</div>