<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-9">
    <section class="form-panel tasks-widget" style="margin:0;">
<div class="panel-heading">
  <div class="pull-left">
    <h4><i class="fa fa-lock"></i>Trusted Hub Settings</h4>
  </div><br/>
</div>
<div class="panel-body">
  <div class="form-group">
    <label>Name</label>
    <input disabled="true" class="form-control" [(ngModel)]="model.name" />
  </div>
  <div class="form-group">
    <label>Description</label>
    <input disabled="true" class="form-control" [(ngModel)]="model.description" />
  </div>
  <div class="form-group">
    <label>Thumbprint</label>
    <input disabled="true" class="form-control" [(ngModel)]="model.thumbprint" />
  </div>
  <div class="form-group">
    <label>Location</label>
    <input disabled="true" class="form-control" [(ngModel)]="model.location" />
  </div>
  <div class="form-group">
    <label>Domain</label>
    <input disabled="true" class="form-control" [(ngModel)]="model.domain" />
  </div>
  <div>
    <input type="file" disabled="true" accept="json" (change)="fileChangeEvent($event)" placeholder="Upload"/><br/><br/>
  </div>
  <div>
    <a class="btn btn-primary btn-sm" target="_blank" href="/api/settings/endpoint">Download Vault Connection Information</a><br/><br/>
  </div>
</div>
</section>
</div>
</div>