<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-9">
    <section class="form-panel tasks-widget" style="margin:0;">
<div class="panel-heading">
  <div class="pull-left">
    <h4><i class="fa fa-user"></i> General Information</h4>
  </div><br/>
</div>
<div class="panel-body">
  <div class="form-group">
    <label>Case Id</label>
    <input class="form-control" [(ngModel)]="model.caseId">
  </div>
  <div class="form-group">
    <label>Country</label>
    <input class="form-control" [(ngModel)]="model.country">
  </div>
  <div class="form-group">
    <label>State</label>
    <input class="form-control" [(ngModel)]="model.state">
  </div>
  <div class="form-group">
    <label>City</label>
    <input class="form-control" [(ngModel)]="model.city">
  </div>
  <div class="form-group">
    <label>Zip</label>
    <input class="form-control" [(ngModel)]="model.zip">
  </div>
  <a class="btn btn-primary btn-sm" (click)="save()">Save</a>
</div>
</section>

<section class="task-panel tasks-widget" style="margin-left:0;margin-right:0">
<div class="panel-heading">
  <div class="pull-left">
    <h4><i class="fa fa-user"></i> Case information</h4>
  </div>
  <br>
</div>
<div class="panel-body">
  <div class="form-group">
    <label>Gender</label><br/>
    <input type="radio" name="gender" value="m" [(ngModel)]="model.gender"> Male <input type="radio" name="gender" value="f"
      [(ngModel)]="model.gender"> Female
  </div>
  <div class="form-group">
    <label>Ethnicity</label><br/>
    <div class="checkbox" *ngFor="let key of getEthnicityKeys()">
    <label><input type="checkbox" [(ngModel)]="selectedEthnicities[key]" /> {{this.ethnicityOptions[key]}} </label>
    </div>
  </div>
  <div class="form-group">
    <label>Sample Collection Date</label>
    <input class="form-control" [(ngModel)]="model.sampleCollectionDate">
  </div>
  <div class="form-group">
    <label>Clinical Indications (example: ICD10:12343, ICD9:345234)</label>
    <input class="form-control" [(ngModel)]="model.clinicalIndications">
  </div>
  <div class="form-group">
    <label>Disease Panel Name</label>
    <input class="form-control" [(ngModel)]="model.diseasePanel">
  </div>
  <h5 class="mb" style="margin-top:20px;"><i class="fa fa-angle-right"></i> Personal History</h5>
<div class="form-group">
  <label>
          <input type="checkbox" [(ngModel)]="model.historyOfCancer">
          Patient has a history of cancer?</label>
</div>
<div class="task-content">
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Age At Diagnosis</th>
        <th>Pathology Type</th>
        <th>Pathology Result</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of model.personalHistory; let i = index">
      <tr>
        <td>{{item.cancerType}}</td>
        <td>{{item.ageAtDiagnosis}}</td>
        <td>{{item.pathologyType}}</td>
        <td>{{item.pathologyResult}}</td>
        <td>
          <button class="btn btn-danger fa fa-trash-o" (click)="deletePersonalHistoryItem(i)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#addPersonalHistoryModal" >Add Personal History Item</a>
  </div>
</div>

<h5 class="mb" style="margin-top:20px;"><i class="fa fa-angle-right"></i> Family History</h5>
<div class="form-group">
  <label>
          <input type="checkbox" [(ngModel)]="model.familyHistoryOfCancer">
          Patient has a family history of cancer?</label><br/>
  <label>
          <input type="checkbox" [(ngModel)]="model.knownGeneInFamily">
          Known gene and mutation in family?</label>
</div>
<div class="form-group">
  <label>Gene</label>
  <input class="form-control" [(ngModel)]="model.familyGene">
</div>
<div class="form-group">
  <label>Mutation</label>
  <input class="form-control" [(ngModel)]="model.familyMutation">
</div>
<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Relation</th>
      <th>Family Side</th>
      <th>Age At Diagnosis</th>
      <th>Pathology Type</th>
      <th>Pathology Result</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let item of model.familyHistory; let i = index">
    <tr>
      <td>{{item.cancerType}}</td>
      <td>{{item.relation}}</td>
      <td>{{item.side}}</td>
      <td>{{item.ageAtDiagnosis}}</td>
      <td>{{item.pathologyType}}</td>
      <td>{{item.pathologyResult}}</td>
      <td>
        <button class="btn btn-danger fa fa-trash-o" (click)="deletFamilyHistoryItem(i)"></button>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#addFamilyHistoryModal">Add Family History Item</a>
</div>
<div>
  <br/>
  <a class="btn btn-primary" (click)="save()">Save</a>
</div>
</div>
</section>

<section [hidden]="isNew" class="task-panel tasks-widget" style="margin-left:0;margin-right:0">
<div class="panel-heading">
  <div class="pull-left">
    <h5><i class="fa fa-user"></i> Genetic Data Associated With Case</h5>
  </div>
  <br>
</div>
<div class="panel-body">
  <div class="task-content">
    <ul id="sortable" class="task-list ui-sortable" *ngFor="let item of samples">
      <li class="list-success">
        <div class="task-title">
          <span class="task-title-sp">{{item.id}}</span><br>
        </div>
      </li>
    </ul>
    <div>
      <br/>
      <div>
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success"><i class="fa fa-share-alt"></i> Import</button>        A new <a href="http://www.1000genomes.org/wiki/Analysis/Variant%20Call%20Format/vcf-variant-call-format-version-40/"
          target="_blank"> Variant Call Format (VCF) </a> File
      </div>
    </div>
  </div>
</div>
</section>
</div>
</div>

<!-- Upload Dialog -->
<div id="myModal" class="modal fade" role="dialog" [hidden]="!showImportDialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Import VCF File</h4>
      </div>
      <div class="modal-body">
        <div [hidden]="isUploading" class="form-group">
          <label>Select a file to upload</label>
          <input type="file" accept="vcf" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
        </div>
        <div [hidden]="isUploading" class="form-group">
          <label>Name</label>
          <input class="form-control" [(ngModel)]="importFileName">
        </div>
        <div [hidden]="!isUploading" class="progress">
          <div id="progressBar" class="progress-bar progress-bar-striped active" role="progressbar"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modalCancel" type="button" class="btn btn-default" (click)="cancelImport()" data-dismiss="modal">Cancel</button>
        <button [disabled]="isUploading" type="button" class="btn btn-default" (click)="import()">Import</button>
      </div>
    </div>
  </div>
</div>

<!-- Family History Dialog -->
<div id="addFamilyHistoryModal" class="modal fade" role="dialog" [hidden]="!showAddFamilyHistoryDialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Family History Item</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Type</label>
          <input class="form-control" [(ngModel)]="familyHistory.cancerType">
        </div>
        <div class="form-group">
          <label>Relation</label>
          <input class="form-control" [(ngModel)]="familyHistory.relation">
        </div>
        <div class="form-group">
          <label>Family Side</label>
          <input class="form-control" [(ngModel)]="familyHistory.familySide">
        </div>
        <div class="form-group">
          <label>Age At Diagnosis</label>
          <input class="form-control" [(ngModel)]="familyHistory.ageAtDiagnosis">
        </div>
        <div class="form-group">
          <label>Pathology Type</label>
          <input class="form-control" [(ngModel)]="familyHistory.pathologyType">
        </div>
        <div class="form-group">
          <label>Pathology Result</label>
          <input class="form-control" [(ngModel)]="familyHistory.pathologyResult">
        </div>
      </div>
      <div class="modal-footer">
        <button id="addFamilyCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" (click)="addFamilyHistoryItem()">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Personal History Dialog -->
<div id="addPersonalHistoryModal" class="modal fade" role="dialog" [hidden]="!showPersonalHistoryDialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Personal History Item</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Type</label>
          <input class="form-control" [(ngModel)]="personalHistory.cancerType">
        </div>
        <div class="form-group">
          <label>Age At Diagnosis</label>
          <input class="form-control" [(ngModel)]="personalHistory.ageAtDiagnosis">
        </div>
        <div class="form-group">
          <label>Pathology Type</label>
          <input class="form-control" [(ngModel)]="personalHistory.pathologyType">
        </div>
        <div class="form-group">
          <label>Pathology Result</label>
          <input class="form-control" [(ngModel)]="personalHistory.pathologyResult">
        </div>
      </div>
      <div class="modal-footer">
        <button id="addPersonalCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" (click)="addPersonalHistoryItem()">Add</button>
      </div>
    </div>
  </div>
</div>