<section class="task-panel tasks-widget">
<div class="panel-heading">
  <div class="pull-left"><h5><i class="fa fa-user"></i> List of Cases</h5></div>
  <br>
</div>
<div class="panel-body">
  <div class="task-content">
    <table class="table" [mfData]="cases" #mf="mfDataTable" [mfRowsOnPage]="25">
    <thead>
      <tr>
        <th><mfDefaultSorter by="caseId">Case Id</mfDefaultSorter></th>
        <th><mfDefaultSorter by="gender">Gender</mfDefaultSorter></th>
        <th><mfDefaultSorter by="ethnicity">Ethnicity</mfDefaultSorter></th>
        <th><mfDefaultSorter by="clinicalIndications">Clinical Indications</mfDefaultSorter></th>
        <th><mfDefaultSorter by="hasHistoryOfCancer">Patient History</mfDefaultSorter></th>
        <th><mfDefaultSorter by="familyHistoryOfCancer">Family History</mfDefaultSorter></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.caseId}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.ethnicity}}</td>
        <td>{{item.clinicalIndications}}</td>
        <td>{{item.hasHistoryOfCancer}}</td>
        <td>{{item.familyHistoryOfCancer}}</td>
        <td>
          <button class="btn btn-primary fa fa-pencil" (click)="this.router.navigate(['/case/', item.id])"></button>
          <button class="btn btn-danger fa fa-trash-o" (click)="delete(item.id)"></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="7">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
  </table>
  </div>
  <div>
    <br/>
    <div>
      <button type="button" (click)="this.router.navigate(['/case/new'])" class="btn btn-theme"><i class="fa fa-share-alt"></i> Add</button>
    </div>
  </div>
</div>
</section>